In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv('C:\\Users\\User\\Desktop\\Systemy Sztucznej Inteligencji\\29.03.2022\\iris.csv')
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
data_setosa = iris[iris['variety'] == 'Setosa']
data_versicolor = iris[iris['variety'] == 'Versicolor']
data_virginica = iris[iris['variety'] == 'Virginica']

In [4]:
data_setosa.tail(10)

    sepal.length  sepal.width  petal.length  petal.width variety
40           5.0          3.5           1.3          0.3  Setosa
41           4.5          2.3           1.3          0.3  Setosa
42           4.4          3.2           1.3          0.2  Setosa
43           5.0          3.5           1.6          0.6  Setosa
44           5.1          3.8           1.9          0.4  Setosa
45           4.8          3.0           1.4          0.3  Setosa
46           5.1          3.8           1.6          0.2  Setosa
47           4.6          3.2           1.4          0.2  Setosa
48           5.3          3.7           1.5          0.2  Setosa
49           5.0          3.3           1.4          0.2  Setosa

In [5]:
data_versicolor.tail(10)

    sepal.length  sepal.width  petal.length  petal.width     variety
90           5.5          2.6           4.4          1.2  Versicolor
91           6.1          3.0           4.6          1.4  Versicolor
92           5.8          2.6           4.0          1.2  Versicolor
93           5.0          2.3           3.3          1.0  Versicolor
94           5.6          2.7           4.2          1.3  Versicolor
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

In [6]:
data_virginica.tail(10)

     sepal.length  sepal.width  petal.length  petal.width    variety
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [8]:
class NaiveBayes:
    @staticmethod
    def srednia(atrybut): # Średnia arytmetyczna
        return sum(atrybut) / len(atrybut)
    
    @staticmethod
    def klasyfikator_Skalar(data, sample): # Inna funkcja przynależności - singleton, poprzednio Gauss
        P = {'Setosa': 0, 'Versicolor': 0, 'Virginica': 0}
        
        for klasa in ['Setosa', 'Versicolor', 'Virginica']:
            # Separacja na klasy, usunięcie ostatniej kolumny
            data_set = data[data['variety'] == klasa]
            data_set = data_set.drop(['variety'], axis = 1)
            #print(klasa + ":\n", data_set)
            
            sample_index = 0 # indeks obecnie sprawdzanego atrybutu
            
            for atrybut in ['sepal.length', 'sepal.width', 'petal.length', 'petal.width']:
                sr = NaiveBayes.srednia(data_set[atrybut])
                if(sample[sample_index] > sr): # Jeśli wartość atrybutu próbki jest większa od średniej mnóż razy 1
                    P[klasa] += 1 * sample[sample_index]
                else:
                    P[klasa] += 0 * sample[sample_index]
                
                sample_index += 1
                
        maks = max(P, key = P.get)
        print("Wynik klasyfikacji:\n", P,"\nUzyskana odmiana: ", maks)
        return maks

In [11]:
NaiveBayes.klasyfikator_Skalar(iris, [6.7, 3.1, 5.6, 2.4]) # Virginica

Wynik klasyfikacji:
 {'Setosa': 14.700000000000001, 'Versicolor': 17.8, 'Virginica': 17.8}
Uzyskana odmiana:  Versicolor

'Versicolor'

In [12]:
NaiveBayes.klasyfikator_Skalar(iris, [5.1, 3.8, 1.9, 0.4]) # Setosa

Wynik klasyfikacji:
 {'Setosa': 11.2, 'Versicolor': 3.8, 'Virginica': 3.8}
Uzyskana odmiana:  Setosa

'Setosa'

In [13]:
NaiveBayes.klasyfikator_Skalar(iris, [5.7, 2.9, 4.2, 1.3]) # Versicolor

Wynik klasyfikacji:
 {'Setosa': 11.200000000000001, 'Versicolor': 2.9, 'Virginica': 0.0}
Uzyskana odmiana:  Setosa

'Setosa'

In [14]:
test = [[5.7, 2.9, 4.2, 1.3], [5.1, 3.8, 1.9, 0.4], [6.7, 3.1, 5.6, 2.4]]
for i in range(len(test)):
    NaiveBayes.klasyfikator_Skalar(iris, test[i])

Wynik klasyfikacji:
 {'Setosa': 11.200000000000001, 'Versicolor': 2.9, 'Virginica': 0.0}
Uzyskana odmiana:  Setosa
Wynik klasyfikacji:
 {'Setosa': 11.2, 'Versicolor': 3.8, 'Virginica': 3.8}
Uzyskana odmiana:  Setosa
Wynik klasyfikacji:
 {'Setosa': 14.700000000000001, 'Versicolor': 17.8, 'Virginica': 17.8}
Uzyskana odmiana:  Versicolor